@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* CRITICAL for digideck feel */
  background: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* smoother animations */
* {
  transition: all 0.25s ease;
}
